body{
    font-family: Arial;
    background: linear-gradient(to right,#dab5f9,#992fd6);
    color:rgb(47, 35, 71);
    text-align:center;
}

h1{
    color:#099fe5;
}

.perfil{
    margin-top:40px;
}

.fotoPerfil{
    width:200px;
    height:200px;
    border-radius:50%;
    border:3px solid #5609e5;
}

.container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.lista{
    width:300px;
}

.card{
    background:#e8e4e4;
    border-radius:10px;
    margin:20px;
    padding:15px;
}

.card img{
    width:100%;
    border-radius:8px;
}

.card h3{
   margin:10px 0;
}

.card p{
    font-size:14px;
    color:hsl(0, 88%, 45%);
}








